.container
  .row
    .tile.margin-top50
      %h4.margin-top0
        Your free GitLab trial includes:
      %ul.features
        - data.trial_features.each do |feature|
          %li= feature
      %p
        and more,
        %span.text-bold
          all in a single application.
      %p
        %span.text-bold
          Note:
        Trial licenses do not include support at any level. If part of your evaluation of GitLab includes evaluating support expertise or SLA performance, please consider 
        %a{ :href => "/sales/", :title => "contact Sales" }
          contacting Sales 
        to discuss options.
